---
import Header from "@components/Header.astro";
import { Cart } from "@components/Cart";

export interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<Header />
		<main class="main-content mx-auto max-w-2xl pt-4 pb-8 px-4 sm:pb-24 sm:pt-12 sm:px-6 lg:max-w-7xl lg:px-8">
			<slot />
			<Cart client:load />
		</main>
	</body>
</html>
<style>
	.main-content {
		padding-top: 136px;
	}
</style>
